.p-select {
    border: 1px #667 solid;
    padding: 10px;
    margin-top: 10px;
    line-height: 2em;
}
.p-select-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.p-select-title {
    padding-top: 4px;
}
.p-select-h3 {
    text-align: center;
}
.p-select-btn {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: 10px auto;
	padding: 1rem 2rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	border-radius: 100vh;
	transition: 0.6s;
    cursor: pointer;
}
.p-select-btn:hover {
	color: #27acd9;
	background: #fff;
}
.p-form-check {
    width: 60%;
    margin : 0 20%;
}
.p-form-check-input[type=radio] {
    display: none; /* ラジオボタンを非表示にする */
}
.p-form-check-input[type="radio"]:checked + label {
    background: #31A9EE;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
}
.p-form-check-label {
    margin: 5px; /* ラベル外側の余白を指定する */
    padding: 5px;
    cursor: pointer;
    border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
    border-radius: 5px;
}
.p-viewer-info {
    line-height: 1.5em;
    font-size: 0.8em;
}
.m-tc-gray {
    color: gray;
}